.jumbotron {
  padding-top: 6rem;
  background-color: #ddf9ec;
}
#projects {
  background-color: #ddf9ec;
}
section {
  padding-top: 5rem;
}
.carousel-contain {
  background-color: #ffffff;
  /* height: 300px; */
}
#contact {
  background-color: #ddf9ec;
}
